### 1. 必要なライブラリのインポート

In [75]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

from sklearn.model_selection import train_test_split
# from sklearn.tree import DecisionTreeClassifier # タイタニックのように0or1の分類
from sklearn.tree import DecisionTreeRegressor # ボストンのように価格を予測する

from sklearn import datasets
from pandas import DataFrame
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
%matplotlib inline

### 2. データの読み込み&作成

In [76]:
boston = datasets.load_boston()

In [77]:
# boston.data=>説明変数、boston.target=>目的変数
df = DataFrame(boston.data, columns = boston.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [78]:
# 目的変数もデータフレームに追加
df["MEDV"] = boston.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

### 3. 説明変数と目的変数に振り分ける

In [84]:
# X = df.iloc[:,12]
# y = df.iloc[:,13]
X = df.loc[:, ["LSTAT"]]
y = df.loc[:, "MEDV"]

### 4. 訓練用とテスト用でデータを分割する

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

### 5. モデルの作成&学習する

In [86]:
model = DecisionTreeRegressor(max_depth=3)

In [87]:
model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

### 6. 学習モデルを使って予測する

In [88]:
pred = model.predict(X_test)

### 7. モデルの評価をする(MSE, 決定係数)

In [93]:
mse = mean_absolute_error(y_test, pred)
mse

3.6109369422702278

In [94]:
r2 = r2_score(y_test, pred)
r2

0.733397252163138